<!doctype html>
    <head>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script src="https://cdn.rawgit.com/eligrey/FileSaver.js/5ed507ef8aa53d8ecfea96d96bc7214cd2476fd2/FileSaver.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.js"></script>
        <script type="text/javascript">

            $(function(){
               $("#save").click(function() { 
                    html2canvas($("#asc"), {
                        onrendered: function(canvas) {
                            canvas.toBlob(function(blob) {
                                saveAs(blob, 'your_ascii.png');
                            });
                        }
                    });
                });
            });
            
            </script>
        <script>
            function font_color(){
                f_color = document.getElementById("fc").value;
                
                // pre_font = document.getElementById("pre_font");
                // pre_font.style.color = String(f_color);
                result_font = document.getElementById("result_font");
                result_font.style.color = String(f_color);

                
            }
            function back_color(){
                b_color = document.getElementById("bc").value;
                // pre_div = document.getElementById("pre-div");
                // pre_div.style.backgroundColor = String(b_color);
                result_div = document.getElementById("asc");
                result_div.style.backgroundColor = String(b_color);
            }
        </script>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />
        <!-- Bootstrap CSS -->
        
        <!-- Project Title! -->
        <title>Asciify</title>    
    </head>
    
    <body style="background-color:dimgrey; text-align: center; font-family:Arial, Helvetica, sans-serif; font-size: large; font-weight: bold;">
        
        <div>
            <div>
                 <!-- Proejct Title -->
                 
                 <img src="../static/images/logo.png" alt="" style="text-align: center; width: 30%;">
                 <br>
                <!-- Github link and Ainize link -->
                <A>Git Hub repository : </A> <A href="https://github.com/Wook-2/asciify">https://github.com/Wook-2/asciify</A>
                <br >
                <hr class="solid" color="black">
                
                
            
                <p> sample image: <a href="/static/images/spgb.png" target='blank'><button class='btn btn-default'>Download</button></a></p>
                    <div >
                        <form action="" method="post" enctype="multipart/form-data" >
                            <p>Import Image:<br><input type=file name=file style="width: 10%;"> </p>
                                <!-- <div id="pre-div" style="border-radius: 5px 5px 5px 5px;background-color: black; width:15%;margin: 0 auto; text-align: center; padding-top: 1%; padding-bottom: 1%;" >
                                    <p style="color: white;" id="pre_font">font</p>
                                </div> -->
                                <input class="btn btn-primary btn-lg" style=" margin:0 auto; width: 8%; height: 6%; font-size: large;" type=submit value=Asciify!>
                            
                               <br><br>
                               {% if result %}
                               Font Color:
                               <select name="font-color" id="fc" onchange="font_color()">
                                <option value="black">Black</option>
                                <option value="white">White</option>
                                <option value="dimgray">Gray</option>
                                <option value="yellow">Yellow</option>
                                <option value="red">Red</option>
                                <option value="ivory">Ivory</option>
                                </select>
                                Background Color:
                                <select name="background-color" id="bc" onchange="back_color()">
                                <option value="dimgray">Gray</option>
                                <option value="black">Black</option>
                                <option value="white">White</option>
                                <option value="yellow">Yellow</option>
                                <option value="red">Red</option>
                                <option value="ivory">Ivory</option>
                                </select>
                                {% endif %}
                               
                          </form>
                        <!-- <label for="label1">label1 : </label>
                        <input type = 'file' id = 'input1' style="margin-right: 10px; margin-bottom: 10px;">
                        <label for="label2">label2: </label>
                        <input type = 'file' id = 'input2' style="margin-right: 10px; margin-bottom: 10px;">
                        <button id = "submit" type='submit' class="btn btn-primary btn-lg" style="margin-left: auto;"> submit </button> -->
                    
                    
                    </div>
                    {%if result %}
                    <button id="save">Download as image</button>
                    {% endif %}
                    <div id="result_font">
                    <div id="asc" style=" border-radius: 5px 5px 5px 5px;font-size: 0.5vw; width: 50%; text-align: center; width: fit-content; padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px; margin: 0 auto;background-color: dimgray;">
                    <p><!-- <p style="font-size: xx-small; font-family: Ubuntu; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;"> -->
                    {% if result %}
                    {% for i in result %}
                    {% if i == '\n' %}
                    <br>
                    {% else %}
                    <div style="width:6px; display: inline-flex;">{{ i }}</div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    </p>
                    
                    </div>
                </div>
                
                
            
            </div>
        </div>
    </body>


